<nav class="navbar navbar-expand-lg p-4">
  <div class="container text-white">
    <a class="navbar-brand text-white navTitel" href="#">START FRAMEWORK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
      <li class="nav-item navLinks px-2">
        <a
          class="nav-link text-white"
          aria-current="page"
          routerLinkActive="acttive"
          routerLink="about"
          >ABOUT</a
        >
      </li>

      <li class="nav-item navLinks">
        <a
          class="nav-link text-white"
          aria-current="page"
          routerLink="portfolio"
          routerLinkActive="acttive"
          >PORTFOLIO</a
        >
      </li>
      <li class="nav-item navLinks">
        <a
          class="nav-link text-white"
          aria-current="page"
          routerLink="contact"
          routerLinkActive="acttive"
          >CONTACT</a
        >
      </li>
    </ul>
  </div>
</nav>
