<section class="homeBackGround">
  <div class="container">
    <div class="row home justify-content-center align-items-center">
      <div class="row">
        <img src="./assets/avataaars.svg" class="w-25 mx-auto mb-4" alt="" />
        <h1 class="text-center">ABOUT COMPONENT</h1>

        <div class="d-flex justify-content-center align-items-center">
          <div class="line mx-3"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line m-3"></div>
        </div>
        <p class="text-center">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</section>
